
@{
    ViewBag.Title = "WhiteRabbit";
}

    <div class="text-center">
        <h1 class="display-4">@ViewBag.Title</h1>
        <p>@ViewBag.Name</p>
        <p>@ViewBag.Date</p>
        <p>I am not like Alice, I live in the Rabbit Hole.</p>
    </div>

